{% extends 'MylibberMylibBundle::layout.html.twig' %}
{% block body %}
	<div class="alert alert-info"><h4>详细信息</h4></div>
    <article class="book">
    <p></p>  
    	<div class="detailbookpic">
    		<p><span class="badge badge-warning">{{ book.bookName }}</span></p>
        	<img src="{{ asset([book.bookPic]|join) }}" alt="{{ book.bookName }} image not found" class="large" />
        </div>
        <div class="detailbookattribute">
       		<p></p>
       		<br>
       		<p>名称:{{ book.bookName }}</p>
        	<p>ISBN: {{ book.bookIsbn }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        		 {% if  book.BookBorr == 1 %} <span class="label label-success">可借阅</span>  {% else %}}  <span class="label">不可借阅</span> {% endif %}</p>
        	<p>作者: {{ book.bookAuthor}} </p>
        	<p>定价: {{book.bookPrice}}</p>
            <p>图书类别:{{ book.categoryName }}</p>
            <p>{{ book.bookContent }}</p>
            <span class="label label-info"><a href="{{ path('MylibberMylibBundle_homepage') }}">返回</a></span>
        </div>
    </article>
{% endblock %}

{% block sidebar %}

<span class="label label-info">书籍检索</span>
	<form action="{{ path('MylibberMylibBundle_search') }}" method="get" name="f" onsubmit="return chkForm(this)" id="f">
		<tbody>
			<tr>
	        	<td colspan="2">
	       			<input type="text" name="strText" id="strText" value="">&nbsp;&nbsp;
	      		</td>
	      	</tr>
	      	<tr>
	        	<td align="right">请选择检索类型：</td>
	        	<td>
	          		<select class="option" name="SearchType" size="1" style="width:100px;">
	                    <option value="title">题&nbsp;&nbsp;名</option>
	                   	<option value="isbn">ISBN/ISSN</option>
	                </select> 
	            </td>
	      	</tr>
	      	<tr>
	      		<td>
	      			<input type="submit" class="submit" value="检索">
	      		</td>
	      	</tr>
		</tbody>

	</form>
{% endblock %}




