{%  extends 'MylibberMylibBundle::layout.html.twig' %}

{% block bookName %}{{ book.bookName }}{% endblock %}

{% block body %}
    <article class="book">
       {% set i=0 %}
{% for book in books %}
    {% set i=i+1 %}
    <div class="alert alert-info">
            {{ i }}. 
            <span class="label">书籍名称:</span>{{ book.bookName }}&nbsp;&nbsp;
            <span class="label">作者:</span> {{ book.bookAuthor}}&nbsp;&nbsp;
            <span class="label">ISBN:</span> {{ book.bookIsbn}}&nbsp;&nbsp;
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if  book.BookBorr == 1 %} <span class="label label-success">可借阅</span>  {% else %}}  <span class="label">不可借阅</span> {% endif %}
    </div>

{% endfor %}

       

    </article>
{% endblock %}
{% block sidebar %}

<span class="label label-info">书籍检索</span>
    <form action="openlink.php" method="get" name="f" onsubmit="return chkForm(this)" id="f">
        <tbody>
            <tr>
                <td colspan="2"><input type="hidden" id="historyCount" name="historyCount" value="1">
                    <input type="text" size="45" maxlength="250" name="strText" id="strText" value="" class="paddingleft">&nbsp;&nbsp;
                        <script language="javascript" type="text/javascript">
                            document.f.strText.focus();
                        </script>
                    
                </td>
            </tr>
            <tr>
                <td align="right">请选择检索类型：</td>
                <td>
                    <select class="option" name="strSearchType" size="1" style="width:100px;">
                        <option value="title">题&nbsp;&nbsp;名</option>
                        <option value="author">责任者</option>
                        <option value="isbn">ISBN/ISSN</option>
                        <option value="publisher">出版社</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="submit" value="检索">
                </td>
            </tr>
        </tbody>

    </form>
{% endblock %}