{%  extends 'MylibberMylibBundle::layout.html.twig' %}

{% block bookName %}{{ book.bookName }}{% endblock %}

{% block body %}
    <article class="book">
    <div class="alert alert-info">结果列表</div>
    {% set i=0 %}
	<table class="table table-striped table-bordered table-condensed">
		{% for book in books %}
	    {% set i=i+1 %}
	            <tr>
	            <td>{{ i }}</td>
	            <td>书籍名称:</span>{{ book.bookName }}</td>
	            <td>作者:</span> {{ book.bookAuthor}}</td>
	            <td>ISBN:</span> {{ book.bookIsbn}}</td>
	            <td>{% if  book.BookBorr == 1 %} <span class="label label-success">可借阅</span>  {% else %} <span class="label">不可借阅</span> {% endif %}
            </td>
            <td><a href="{{ path('MylibberMylibBundle_detail',{'id':book.Id})}}"><span class="badge badge-info">详细信息...</span></a></td>
	{% endfor %}
	</table>


       

    </article>
{% endblock %}
{% block sidebar %}

<span class="label label-info">书籍检索</span>
<form action="{{ path('MylibberMylibBundle_search') }}" method="get" name="f" onsubmit="return chkForm(this)" id="f">
        <tbody>
            <tr>
                <td colspan="2">请输入检索关键字:
                    <input type="text" name="strText" id="strText" value="">&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td align="right">请选择检索类型：</td>
                <td>
                    <select class="option" name="SearchType" size="1" style="width:100px;">
                        <option value="title">题&nbsp;&nbsp;名</option>
                        <option value="isbn">ISBN/ISSN</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="submit" value="检索">
                </td>
            </tr>
        </tbody>

    </form>
{% endblock %}