{% extends 'MylibberBackendBundle::layout.html.twig' %}
{% block title %} borrow books {% endblock %}

{% block body %}
 {% set i=0 %}
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th></th>
		<th><span class="label label-info">书籍名称:</span></th>
		<th><span class="label label-info">作者:</span></th>
		<th><span class="label label-info">ISBN:</span></th>
		<th><span class="label label-info">借阅:</span></th>
		<th><span class="label label-info">归还:</span></th></tr>
{% for borr in borrs %}
    {% set i=i+1 %}

    
 		
 	 	
            <tr>
            <td>{{ i }}</td>
            <td><a href="{{ path('MylibberMylibBundle_detail',{'id':borr.Id})}}"><span class="label">{{ borr.bookName }}</span></a></td>
            <td>{{ borr.bookAuthor}}</td>
            <td>{{ borr.bookIsbn}}</td>
            <td>{% if  borr.BookBorr == 1 %} <a href="{{ path('mylibber_backend_borrform',{'id':borr.Id})}}"><span class="label label-success">借阅</span></a>  {% else %} <span class="label">不可借阅</span> {% endif %}</td>
            <td>{% if  borr.BookBorr == 1 %} <i class="icon-ok-sign">  {% else %} <i class="icon-arrow-left">{% endif %}</td>

{% endfor %}
</table>

	<form action="openlink.php" method="get" name="f" onsubmit="return chkForm(this)" id="f">
		<tbody>
			<tr>
	        	输入检索条件:<td colspan="2"><input type="hidden" id="historyCount" name="historyCount" value="1">
	       			<input type="text" size="45" maxlength="250" name="strText" id="strText" value="" class="paddingleft">&nbsp;&nbsp;
	                    <script language="javascript" type="text/javascript">
	                        document.f.strText.focus();
	                    </script>
	      		 	
	      		</td>
	      	</tr>
	      	<tr>
	        	<td align="right">请选择检索类型：</td>
	        	<td>
	          		<select class="option" name="strSearchType" size="1" style="width:100px;">
	                    <option value="title">题&nbsp;&nbsp;名</option>
	                    <option value="author">责任者</option>
	                   	<option value="isbn">ISBN/ISSN</option>
	                    <option value="publisher">出版社</option>
	                </select> 
	            </td>
	      	</tr>
	      	<tr>
	      		<td>
	      			<input type="submit" class="submit" value="检索">
	      		</td>
	      	</tr>
		</tbody>

	</form>
{% endblock %}