{% extends '::backendBase.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/backend.css')}}" type= "text/css"  rel= "stylesheet">
{%  endblock %}

{% block sidebar %}
<ul class="nav nav-list">
 	<li class="active">
    	<a href="#"><i class = "icon-home"></i>常用操作</a>
  	</li>
  	<li>
    	<a href="{{ path('mylibber_backend_borrbook')}}">
      		<i class="icon-gift"></i>图书借阅
    	</a>
   	</li>
   	<li>
   		<a href="{{ path('mylibber_backend_addbook')}}">
      		<i class="icon-book"></i>图书录入
    	</a>
   	</li> 
   	<li>
   		<a href="{{ path('mylibber_backend_histbook')}}">
      		<i class="icon-list"></i>借阅历史
    	</a>
  	</li>
  	
  	
  	<li class="active">
    	<a href="#"><i class = "icon-book"></i>电子书</a>
  	</li>
        <li>
        <a href="{{ path('mylibber_backend_addebookform')}}">
          <i class="icon-upload"></i>上传
      </a>
    </li>
    <li>
      	<a href="{{ path('mylibber_backend_showebook')}}">
      		<i class="icon-magnet"></i>管理
    	</a>
    </li>
  	
  	<li class="active">
    	<a href="#"><i class = "icon-check"></i>其他配置</a>
  	</li>
        <li>
        <a href="{{ path('mylibber_backend_addCategory')}}">
          <i class="icon-flag"></i>类别管理
      </a>
    </li>
    <li>
      	<a href="{{ path('mylibber_backend_addUser')}}">
      		<i class="icon-user"></i>用户管理
    	</a>
    </li>
    <li>
    	<a href="{{ path('mylibber_backend_config')}}">
      		<i class="icon-edit"></i>系统配置
    	</a>
    </li>
</ul>
{% endblock %}