{# src/Mylibber/MylibBundle/Resource/views/Default/index.html.twig#}
{% extends 'MylibberMylibBundle::layout.html.twig' %}
{% block body %}
	<span class="label label-info">最新图书</span>
    <article class="book">
    <p></p>
    {% for book in books %}
        
    	<div class="bookpic">
    		<p><a href="{{ path('MylibberMylibBundle_detail',{'id':book.Id})}}"><span class="badge badge-warning">{{ book.bookName }}</span></a></p>
        	<a href="{{ path('MylibberMylibBundle_detail',{'id':book.Id})}}"><img src="{{ asset([book.bookPic]|join) }}" alt="{{ book.bookName }} image not found" class="large" /></a>
        </div>
        <div class="bookattribute">
       		<p></p>
       		<br>
        	<p>ISBN: {{ book.bookIsbn }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        		 {% if  book.BookBorr == 1 %} <span class="label label-success">可借阅</span>  {% else %} <span class="label">不可借阅</span> {% endif %}</p>
        	<p>作者: {{ book.bookAuthor}} </p>
        	<p>定价: {{book.bookPrice}}</p>
            <p>图书类别:{{ book.categoryName }}</p>
           
          <a href="{{ path('MylibberMylibBundle_detail',{'id':book.Id})}}"><span class="label">详细信息...</span></a>
        </div>
     {% endfor %}
    </article>
{% endblock %}

{% block sidebar %}

<span class="label label-info">书籍检索</span>
	<form action="{{ path('MylibberMylibBundle_search') }}" method="get" name="f" onsubmit="return chkForm(this)" id="f">
		<tbody>
			<tr>
	        	<td colspan="2">
	       			<input type="text" name="strText" id="strText" value="">&nbsp;&nbsp;
	      		</td>
	      	</tr>
	      	<tr>
	        	<td align="right">请选择检索类型：</td>
	        	<td>
	          		<select class="option" name="SearchType" size="1" style="width:100px;">
	                    <option value="title">题&nbsp;&nbsp;名</option>
	                   	<option value="isbn">ISBN/ISSN</option>
	                </select> 
	            </td>
	      	</tr>
	      	<tr>
	      		<td>
	      			<input type="submit" class="submit" value="检索">
	      		</td>
	      	</tr>
		</tbody>

	</form>
{% endblock %}




